**/__pycache__/
*.pyc
*/checkpoints/
*/results/
*/val_results/
*/test_results/
*/val_test_results/
benchmark/data/
benchmark/readgpt_data/
benchmark/runs/
benchmark/readgpt_runs/
models/
node_modules/
plugins/semflow_tuning_v2/outputs/
plugins/internal_semflow/outputs*/

plugins/internal_semflow_v3/outputs*/

plugins/internal_semflow_lab/outputs*/

plugins/internal_semflow_full_lab/outputs*/

plugins/distribution_semflow_v4/outputs*/
